/* ! container */
.container {
    max-width: 720px;
    margin: 0 auto;
    padding: 2rem 0.3rem 0 0.3rem;
}
/* ! article */
article {
    display: flex;
    flex-direction: column;
}
.back-link {
    text-decoration: none;
    text-transform: uppercase;
    font-family: var(--jetbrains);
    color: var(--grey);
    font-size: 14px;
}
/* ! siderbar */
.toc-sidebar {
    position: fixed;
    top: 40%;
    left: 2rem;
    transform: translateY(-50%);
}
.toc-title {
    font-family: var(--oswald);
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: var(--white);
    margin-bottom: 0.75rem;
}
.toc ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
.toc li::marker {
    color: var(--grey);
}
.toc li {
    margin-bottom: 0.5rem;
}
.toc li ul, .toc li ol {
    margin-left: 1rem;
    margin-top: 0.5rem;
}
.toc a {
    font-family: var(--jetbrains);
    font-size: 11px;
    color: var(--grey);
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: color ease 0.2s;
}
.toc a:hover {
    color: var(--white);
}
/* .hide {
    display: none;
} */
/* ! post */
.post {
    display: flex;
    flex-direction: column;
    padding-bottom: 1.5rem;
    border-bottom: 1px solid var(--border);
}
.post-details {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    gap: 0.6rem;
    margin-top: 4rem;
}
.post-tags {
    font-family: var(--jetbrains);
    font-size: 11px;
    color: var(--grey);
    text-transform: uppercase;
    letter-spacing: 2px;
    border-right: 1px solid var(--border);
    padding-right: 0.5rem;
    display: flex;
    gap: 1rem;
}
.post-date {
    font-family: var(--jetbrains);
    font-size: 11px;
    color: var(--grey);
    letter-spacing: 2px;
}
.post-title {
    font-family: var(--oswald);
    font-weight: 700;
    font-size: 2em;
    text-transform: uppercase;
    color: var(--white);
    margin: 0;
    margin-top: 1.7rem;
    padding-bottom: 2.3rem;
    line-height: 2.3rem;
    border-bottom: 1px solid var(--border);
}
.post-content {
    font-family: var(--dmsans);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.3rem;
    color: var(--grey);
    margin:0;
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    overflow-wrap: break-word;
    word-break: break-word;
    width: 100%;
}
/* ! footer */
footer {
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.footer-copyright {
    text-transform: uppercase;
    font-family: var(--jetbrains);
    color: var(--grey);
    font-size: 10px;
    letter-spacing: 4px;
    line-height: 1.5rem;
    text-decoration: none;
}
/* ! responsive */
@media (max-width: 1200px) {
    .toc-sidebar {
        position: static;
        transform: none;
        margin-bottom: 0rem;
        margin-top: 1rem;
        padding-bottom: 2rem;
        border-bottom: 1px solid var(--border);
    }
    .toc ul {
        padding-left: 1.5rem;
        list-style:disc;
    }
}